body{
    background-image: url(img2.webp);
    background-position: center;
}

.gameBoard{
    border: 3px solid;
    border-radius:15px;
    background-image: url(img.jpg);
    background-position: -28px;
    background-repeat: no-repeat;
    background-size: cover;
}

#gameContainer{
    margin-top: 50px;
    text-align: center;
    font-family: "Permanent Marker", cursive;
}

.scoreText{
    font-size: 50px;
}

#resetBtn{
    font-size: 17px;
    color: white;
    background-color: red;
    font-family: "Permanent Marker", cursive;
    border: 3px solid black;
    border-radius: 7px;
    width: 7vw;
    height: 5vh;
}